[Desktop Entry]
Type=Link
Version=1.5
Name=Remote UCI
GenericName=External Engine for Lichess
Icon=remote-uci
URL=http://localhost:9670/
Categories=Game
