[Desktop Entry]
Type=Application
Name=External Engine for Lichess
GenericName=Chess analysis
URL=xdg-open http://localhost:9670/
Icon=lichess
Categories=Game;
Keywords=chess;uci;
