Source: stockfish
Section: games
Priority: optional
Maintainer: Niklas Fiekas <niklas@lichess.org>
Build-Depends: debhelper (>= 13)
Homepage: https://stockfishchess.org/

Package: stockfish
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Strong open source chess engine
