Package: stockfish
Version: 15
Architecture: amd64
Section: games
Priority: optional
Maintainer: Niklas Fiekas <niklas@lichess.org>
Description: Strong chess engine
 Stockfish is a powerful UCI chess engine derived from Glaurung 2.1. Stockfish
 is not a complete chess program and requires a UCI-compatible graphical user
 interface (GUI) in order to be used comfortably. Read the documentation for
 your GUI of choice for information about how to use Stockfish with it.
 .
 The Stockfish engine features two evaluation functions for chess. The
 efficiently updatable neural network (NNUE) based evaluation is the default
 and by far the strongest. The classical evaluation based on handcrafted terms
 remains available.
 .
 The strongest NNUE network is included in this package. The NNUE evaluation
 benefits from the vector intrinsics. This package contains various precompiled
 binaries and selects the best one for your CPU.
