[Unit]
Description=External engine for Lichess
Requires=remote-uci.socket

[Service]
ExecStart=/usr/bin/remote-uci --secret-file /etc/remote-uci.secret --engine stockfish
User=remote-uci
Group=remote-uci
PrivateTmp=true
PrivateDevices=true
DevicePolicy=closed
ProtectHome=true
ProtectSystem=strict
CapabilityBoundingSet=
NoNewPrivileges=true

[Install]
Also=remote-uci.socket
