<?xml version='1.0' encoding='windows-1252'?>

<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder"?>
<?else ?>
<?define PlatformProgramFilesFolder = "ProgramFilesFolder"?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'>
  <Product Id='*' Name='External Engine' UpgradeCode='F4AE3357-6CE1-4C1B-A106-5EDEBF76CF9F' Manufacturer='Lichess' Language='1033' Codepage='1252' Version='$(var.Version)'>
    <Package Id='*' Keywords='Installer' Description='External UCI engine provider for lichess.org' Manufacturer='Lichess' InstallerVersion='450' Languages='1033' Compressed='yes' InstallScope='perMachine' SummaryCodepage='1252' />

    <MajorUpgrade Schedule='afterInstallInitialize' DowngradeErrorMessage='A newer version of remote-uci is already installed. Setup will now exit.' AllowSameVersionUpgrades='yes' />

    <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1' />

    <Icon Id='ProductICO' SourceFile='favicon.ico' />
    <WixVariable Id='WixUILicenseRtf' Value='wix\Copying.rtf' />
    <WixVariable Id='WixUIBannerBmp' Value='wix\Banner.bmp' />
    <WixVariable Id='WixUIDialogBmp' Value='wix\Dialog.bmp' />
    <Property Id='DiskPrompt' Value='External Engine Installation' />
    <Property Id="URL" Value="http://localhost:9670" />
    <Property Id='ARPPRODUCTICON' Value='ProductICO' />
    <Property Id='ARPHELPLINK' Value='https://github.com/lichess-org/external-engine' />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
        <Directory Id='APPLICATIONFOLDER' Name='External Engine'>
          <Component Id='nnue' Guid='*'>
            <File Id='nnue' Name='nn-6877cd24400e.nnue' DiskId='1' Source='wix\nn-6877cd24400e.nnue' KeyPath='yes' />
          </Component>
          <Component Id='stockfish_x86_64' Guid='*'>
            <File Id='stockfish_x86_64' Name='stockfish-x86-64.exe' DiskId='1' Source='wix\stockfish-x86-64.exe' KeyPath='yes' />
          </Component>
          <Component Id='stockfish_x86_64_sse3_popcnt' Guid='*'>
            <File Id='stockfish_x86_64_sse3_popcnt' Name='stockfish-x86-64-sse3-popcnt.exe' DiskId='1' Source='wix\stockfish-x86-64-sse3-popcnt.exe' KeyPath='yes' />
          </Component>
          <Component Id='stockfish_x86_64_ssse3' Guid='*'>
            <File Id='stockfish_x86_64_ssse3' Name='stockfish-x86-64-ssse3.exe' DiskId='1' Source='wix\stockfish-x86-64-ssse3.exe' KeyPath='yes' />
          </Component>
          <Component Id='stockfish_x86_64_sse41_popcnt' Guid='*'>
            <File Id='stockfish_x86_64_sse41_popcnt' Name='stockfish-x86-64-sse41-popcnt.exe' DiskId='1' Source='wix\stockfish-x86-64-sse41-popcnt.exe' KeyPath='yes' />
          </Component>
          <Component Id='stockfish_x86_64_avx2' Guid='*'>
            <File Id='stockfish_x86_64_avx2' Name='stockfish-x86-64-avx2.exe' DiskId='1' Source='wix\stockfish-x86-64-avx2.exe' KeyPath='yes' />
          </Component>
          <Component Id='stockfish_x86_64_bmi2' Guid='*'>
            <File Id='stockfish_x86_64_bmi2' Name='stockfish-x86-64-bmi2.exe' DiskId='1' Source='wix\stockfish-x86-64-bmi2.exe' KeyPath='yes' />
          </Component>
          <Component Id='stockfish_x86_64_avx512' Guid='*'>
            <File Id='stockfish_x86_64_avx512' Name='stockfish-x86-64-avx512.exe' DiskId='1' Source='wix\stockfish-x86-64-avx512.exe' KeyPath='yes' />
          </Component>
          <Component Id='stockfish_x86_64_vnni512' Guid='*'>
            <File Id='stockfish_x86_64_vnni512' Name='stockfish-x86-64-vnni512.exe' DiskId='1' Source='wix\stockfish-x86-64-vnni512.exe' KeyPath='yes' />
          </Component>
          <Component Id='remote_uci' Guid='*'>
            <File Id='exe0' Name='remote-uci-service.exe' DiskId='1' Source='$(var.CargoTargetBinDir)\remote-uci-service.exe' KeyPath='yes' />
            <ServiceInstall ErrorControl='normal' Id='remote_uci' Name='External Engine' Start='auto' Type='ownProcess' Vital='yes' Arguments='--secret-file remote-uci.secret --engine "[#stockfish_x86_64]" --engine-x86-64-sse3-popcnt "[#stockfish_x86_64_sse3_popcnt]" --engine-x86-64-ssse3 "[#stockfish_x86_64_ssse3]" --engine-x86-64-sse41-popcnt "[#stockfish_x86_64_sse41_popcnt]" --engine-x86-64-avx2 "[#stockfish_x86_64_avx2]" --engine-x86-64-bmi2 "[#stockfish_x86_64_bmi2]" --engine-x86-64-avx512 "[#stockfish_x86_64_avx512]" --engine-x86-64-vnni512 "[#stockfish_x86_64_vnni512]"' Description='External UCI engine provider for lichess.org' />
            <ServiceControl Id='startService' Start='install' Stop='both' Name='External Engine' Remove='uninstall' Wait='yes' />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="External engine for lichess.org" />
      </Directory>
    </Directory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="External engine for lichess.org" Description="Register external UCI engine for analysis on lichess.org" Target="[URL]">
          <Icon Id='ShortcutICO' SourceFile='favicon.ico' />
        </Shortcut>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Lichess\ExternalEngine" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id='Binaries' Title='Application' Description='Installs external engine service and Stockfish' Level='1' ConfigurableDirectory='APPLICATIONFOLDER' AllowAdvertise='no' Display='expand' Absent='disallow'>
      <ComponentRef Id='nnue' />
      <ComponentRef Id='stockfish_x86_64' />
      <ComponentRef Id='stockfish_x86_64_sse3_popcnt' />
      <ComponentRef Id='stockfish_x86_64_ssse3' />
      <ComponentRef Id='stockfish_x86_64_sse41_popcnt' />
      <ComponentRef Id='stockfish_x86_64_avx2' />
      <ComponentRef Id='stockfish_x86_64_bmi2' />
      <ComponentRef Id='stockfish_x86_64_avx512' />
      <ComponentRef Id='stockfish_x86_64_vnni512' />
      <ComponentRef Id='remote_uci' />
      <ComponentRef Id='ApplicationShortcut' />
    </Feature>

    <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize' />

    <UI>
      <UIRef Id="WixUI_Minimal" />
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchBrowser">NOT REMOVE="ALL"</Publish>
    </UI>

    <CustomAction Id="LaunchBrowser" Directory="APPLICATIONFOLDER" Return="asyncNoWait" ExeCommand="explorer.exe [URL]" />
  </Product>
</Wix>
